<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7996a0">  <td>16/11/18 18:52:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setUp(java.lang.String)[pri:0, instance:Instantt_project.NewTest@475530b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1653163531</td>   <td></td> </tr>
<tr bgcolor="7996a0">  <td>16/11/18 18:52:27</td>   <td>10394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testAddiCredits()[pri:0, instance:Instantt_project.NewTest@475530b9]">testAddiCredits</td> 
  <td>TestNG@1653163531</td>   <td></td> </tr>
</table>
